@import '~styles/variables';

.Modal {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 480px;
  margin-top: 120px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow:
    0 0 0 1px rgba(black, 0.1),
    0 20px 30px -5px rgba(black, 0.3);
  overflow: hidden;
}

.Modal-header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  background-color: $gray-100;
  border-bottom: 1px solid rgba(black, 0.1);
}

.Modal-header-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: $gray-800;
}

.Modal-close {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.Modal-content {
  flex: 1;
}

.Modal-footer {
  flex: 0 0 auto;
  border-top: 1px solid $gray-200;
}